// ==========================================
// HOME PAGE
// ==========================================

.hero-background {
  bottom: 0;
  -webkit-clip-path: ellipse(87.5% 50% at 50% 40%);
  clip-path: ellipse(92.5% 50% at 50% 40%);
  height: 700px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -100;
}

.hero-background-video {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  @include media-query(small) {
    display: none;
  }

  @include media-query(medium) {
    display: none;
  }
}

.hero-section {
  @include flexbox();
  height: 700px;
  position: relative;
  width: 100%;
}

.hero-text {
  @include grid-parent();
  grid-template-columns: 12.5% 12.5% 12.5% 3.125% 9.375% 12.5% 12.5% 12.5% 12.5%;
  margin-top: -46px;

  h1 {
    @include grid-child(3,8);
    color: $white;
    margin: 0;
  }

  p {
    @include grid-child(5,8);
    color: $white;
    float: right;
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
  }
}

.hero-text__divider {
  @include grid-child(3,4);
  background: $color-divider;
  float: left;
  height: 5px;
  margin-top: 35px;
}

.smooth-scrolling-button {
  // @include box-shadow($c: rgba($black, 0.1));
  bottom: 5%;
  cursor: pointer;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 100;

  &:hover {
    // @include box-shadow($c: rgba($black, 0.25));
  }
}

.featured-project-section {
  width: 100%;
}

.featured-project-slider {
  @include box-shadow();
  margin: 60px 12.5% 0 12.5%;
  max-width: 1080px;
  position: relative;
  width: 75%;
}

.featured-project-slider .slick-prev {
  align-items: stretch;
  background: none;
  border: none;
  height: 60px;
  left: -30px;
  outline-style: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 45%;
  transform: scale(0.925);
  width: 60px;
  z-index: 100;

  &:before {
    content: url('../img/home/featured-project/previous-arrow.svg');
    cursor: pointer;
  }
}

.featured-project-slider .slick-next {
  align-items: stretch;
  background: none;
  border: none;
  bottom: 45%;
  height: 60px;
  outline-style: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: -30px;
  transform: scale(0.925);
  width: 60px;
  z-index: 100;

  &:before {
    content: url('../img/home/featured-project/next-arrow.svg');
    cursor: pointer;
  }
}

.featured-project {
  height: 630px;
  position: relative;
  width: 100%;
}

#featured-project__konquer {
  @include gradient($sky-blue, $aqua);

  .featured-project-button {
    color: $sky-blue;
  }
}

#featured-project__creation-flows {
  @include gradient($red, $peach);

  .featured-project-button {
    color: $red;
  }
}

#featured-project__campaign-results {
  @include gradient($royal-blue, $baby-blue);

  .featured-project-button {
    color: $royal-blue;
  }
}

.featured-project-text {
  @include vertical-align();
  z-index: 50;
}

.featured-project-name {
  color: $white;
  margin-left: 90px;
}

.featured-project-title {
  color: $white;
  margin: 34px 0 22px 135px;
  width: 360px;
}

.featured-project-description {
  color: $white;
  margin-left: 135px;
  width: 360px;
}

.featured-project-button {
  background: $white;
  margin: 45px 0 0 360px;
}

.featured-project-image {
  height: 100%;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 0;
}

.about-section {
  @include grid-parent();
  margin-top: 135px;
}

.about-text {
  @include grid-child(3,7);
}

.about-text .text-link {
  margin-top: 22px;
}

.contact-section {
  @include grid-parent();
  margin-bottom: 135px;
}

.contact-text {
  @include grid-child(3,7);

  h4 {
    line-height: normal;
    margin-bottom: 22px;
  }
}

.contact-text .text-link {
  margin-top: 22px;
}
