// ==========================================
// TYPE
// ==========================================

@font-face {
  font-family: "Avenir Next";
  src: url("fonts/avenir_next.eot"); /* IE9 Compat Modes */
  src: url("fonts/avenir_next.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/avenir_next.woff2") format("woff2"), /* Super Modern Browsers */
       url("fonts/avenir_next.woff") format("woff"), /* Pretty Modern Browsers */
       url("fonts/avenir_next.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("fonts/avenir_next.svg#svgFontName") format("svg"); /* Legacy iOS */
}
