// ==========================================
// VARIABLES
// ==========================================

// COLORS

// Color Descriptions

$white: #ffffff;
$black: #121212;
$electric-blue: #009ACD;
$aqua: #00CED1;

// Color Functions

$color-selection: rgba($electric-blue, 0.5);


// FONTS

// Fonts
$font-thin: "Metropolis Thin", Helvetica, sans-serif;
$font-thin: "Metropolis Extra Light", Helvetica, sans-serif;
$font-light: "Metropolis Light", Helvetica, sans-serif;
$font-regular: "Metropolis Regular", Helvetica, sans-serif;
$font-medium: "Metropolis Medium", Helvetica, sans-serif;
$font-medium: "Metropolis Semi-Bold", Helvetica, sans-serif;
$font-bold: "Metropolis Bold", Helvetica, sans-serif;
$font-extra-bold: "Metropolis Extra Bold", Helvetica, sans-serif;

// Font Sizes
$base-font-size: 24px;

// Letter Spacing

// Line Height
$line-height-body-text: 1.33rem;


// BORDERS


// MARGINS AND PADDING


// HEIGHTS AND WIDTHS


// PATHS

$path-image: "../images";


// BREAKPOINTS

$breakpoint-small: 0px;
$breakpoint-medium: 767px;
$breakpoint-large: 1025px;
