// ==========================================
// FOOTER
// ==========================================

footer {
  background: $color-footer;
  height: 180px;
  position: relative;
  width: 100%;
  z-index: 100;
}

.footer-logo {
  height: 50px;
  margin-left: 4.24%;
  object-fit: contain;
  position: absolute;
  top: 36%;
}

.social-media-links {
  @include vertical-align();
  margin-right: 7.77%;
  position: absolute;
  right: 0;
}

.social-media-link {
  cursor: pointer;
  height: 30px;
  margin-left: 40px;
  object-fit: contain;
}
