// ==========================================
// IMAGES
// ==========================================

.project-page .project-image--medium-width {
  @include grid-parent();
  grid-template-columns: 12.5% 6.25% 6.25% 12.5% 12.5% 12.5% 12.5% 6.25% 6.25% 12.5%;
  margin: 67.5px 0;

  img {
    @include box-shadow();
    @include grid-child(3,9);
    display: block;
    max-width: 900px;
    object-fit: contain;
    width: 100%;
  }

  figcaption {
    @include grid-child(3,9);
    @extend p;
    display: block;
    font-size: 14px;
    margin-top: 33.75px;
    text-align: center;
  }
}

.project-page .project-image--full-width {
  background: $color-full-width-image-background;
  box-sizing: border-box;
  height: auto;
  margin: 90px 0;
  padding: 67.5px 180px 56.25px 180px;
  width: 100%;

  h6 {
    margin-bottom: 45px;
  }

  figcaption {
    @extend p;
    display: block;
    font-size: 14px;
    margin-top: 33.75px;
    text-align: center;
  }
}

.project-page .heuristic-evaluation {
  @include flexbox($align: flex-start, $justify: space-between);
  width: 100%;

  @include m(screenshot) {
    @include box-shadow();
    object-fit: contain;
    width: 60%;
  }

  @include m(comments) {
    object-fit: contain;
    width: 35.648%;
  }
}

.project-page .two-image-layout {
  @include flexbox($align: flex-start, $justify: space-between);
  width: 100%;

  img {
    @include box-shadow();
    object-fit: contain;
    width: 46.875%;
  }
}
