// ==========================================
// QUOTES
// ==========================================

blockquote {
  @include grid-parent();
  grid-template-columns: 12.5% 6.25% 6.25% 12.5% 12.5% 12.5% 12.5% 6.25% 6.25% 12.5%;
  margin: 67.5px 0;

  &:before {
    @include grid-child(3,4);
    content: url('../img/icons/quotation-mark.svg');
    margin-top: -10px;
    text-align: center;
  }

  p {
    @include grid-child(4,8);
    color: $black;
    font-family: $font-bold;
    font-size: 21px;
    line-height: 28.7px;
    margin-bottom: 22px;
  }

  span {
    @include grid-child(4,8);
    font-family: $font-medium;
    font-size: 14px;
    letter-spacing: 1.24;
    margin-left: 20px;
    text-transform: uppercase;
  }
}
